.ctn-header {
  align-items: center;
  width: 800px;
  height: 80px;
  top: 0px;
  background: #000000;
}

.title-header {
  width: 188px;
  height: 26px;
  left: 597px;
  top: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}