.home-background {
align-items: center;
display: flex;
flex-direction: column;
width: 1920px;
height: 1000px;
justify-content: center;
background: #FFFFFF;
}

.logo {
  width: 607.5px;
  height: 167px;
}

.signup-button {
  min-width: 100px;
  padding: 16px, 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}